# Node
node_modules/

# Python
.venv/
__pycache__/

# Environment files
backend/.env
python-analytics/.env
frontend/.env.local

# Next.js
.next/

# Logs
*.log


# Python cache
*.pyc

# Vercel
.vercel/